#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws


*.class
*.info
*.properties
*.jar


/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
java.io.FileOutputStream@2d98a335